<!-- Footer -->
<div id="footer-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-6-medium">
                <p>
                    Уважаемые гости веб-сайта: Alma-speed truck<br>
                    Меня зовут Текебаев Кайрат. Это первый мой проект на ASP.NET Core.<br>
                    Вся информация используемая на сайте, не несет коммерческого интереса.<br>
                    Веб-приложение создано, специально для демонстрации технологии.<br> 
                    А также для моего портфолио.
                </p>
            </div>
            <div class="col-6-medium aln-right">
                <p>
                    WhatsApp:<br>
                    +7 (708)650-29-55<br>
                    Мобильный номер:<br>
                    +7 (708)650-29-55<br>
                    E-mail:<br>
                    kayrat_tekebayev@mail.ru<br>
                </p>
            </div>
            <div class="col-12">

                <div id="copyright">
                    &copy; @Config.CompanyName. All rights reserved. | Design: <a href="http://html5up.net">HTML5 UP</a>
                </div>

            </div>
        </div>
    </div>
</div>